footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    transition: filter 0.5s;
    background: radial-gradient(circle at 50.3% 44.5%, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100.2%);
}

.faFacebook {
    padding: 5px;
    color: #202020;
    font-size: 2.3rem;
    transition: color 0.5s;
}
.faFacebook:hover {
    color: #3b5998;
}

.faInstagram {
    padding: 5px;
    color: #202020;
    font-size: 2.3rem;
    transition: color 0.5s;
}
.faInstagram:hover {
    color: #833ab4;
}

.faWhatsapp {
    padding: 5px;
    color: #202020;
    font-size: 2.3rem;
    transition: color 0.5s;
}
.faWhatsapp:hover {
    color: green;
}