html, body {
    height: 100%;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: monospace;
}

p {
    margin-bottom: 5px;
}

.toast-container {
    margin-top: 40px;
}

.toast-content {
    display: flex;
    align-items: center;
}

.toast-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}



.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.main-content {
    flex-grow: 1;
}


.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Esto empuja el footer al fondo */
}